extends ../layouts/default.pug 

block content
  .row
    .col
      .card
        .card-header
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='/') Home
              li.breadcrumb-item.active Order
        .card-body
          table.table.table-sm.table-hover
            thead
              tr
                th Invoice Number
                th Payer
                th Phone
                th Amount
                th PG
                th Payment Method
                th Status
                th
            tbody
              each order in orders
                tr
                  if order.paymentGateway == 'xendit'
                    td
                      a(href=`/xendit/${order.id}`)= order.invoiceNumber
                  else
                    td= order.invoiceNumber
                  td= order.payerName
                  td= order.payerPhone
                  td= order.amount
                  td= order.paymentGateway
                  td= order.paymentMethod
                  td= order.paymentStatus
                  td
                    if (order.paymentGateway == 'xendit' && order.paymentMethod == 'va' && order.paymentStatus == 'outstanding')
                      form(action=`/xendit/va/${order.id}/pay` method='POST')
                        button.btn.btn-danger.btn-sm(type='submit') Pay
                    if (order.paymentGateway == 'xendit' && order.paymentMethod == 'ro' && order.paymentStatus == 'outstanding')
                      form(action=`/xendit/ro/${order.id}/pay` method='POST')
                        button.btn.btn-danger.btn-sm(type='submit') Pay
                    if (order.paymentGateway == 'xendit' && order.paymentMethod == 'va' && order.paymentStatus == 'outstanding')
                      form(action=`/xendit/va/${order.id}/cancel` method='POST')
                        button.btn.btn-danger.btn-sm(type='submit') Cancel