extends ../layouts/default.pug 

block content
  .card
    .card-header 
      .row
        .col
          nav(aria-label='breadcrumb')
            ol.breadcrumb
              li.breadcrumb-item
                a(href='/') Home
              li.breadcrumb-item.active Companies
        .col.text-end
          a(href='/companies/new') Create
    .card-body
      table.table.table-sm.table-hover
        thead
          tr
            th Company
            th Address
            th City
            th Country
            th Email
            th Phone
            th Website
        tbody
          each company in companies
            if company.deletedAt == null
              tr
                td
                  span.d-inline-block.text-truncate(style='width:250px')
                    a(href=`/companies/${company.id}`)= company.companyName
                td
                  span.d-inline-block.text-truncate(style='width:100px')= company.address
                td
                  span.d-inline-block.text-truncate(style='width:100px')= company.city
                td
                  span.d-inline-block.text-truncate(style='width:100px')= company.country
                td
                  span.d-inline-block.text-truncate(style='width:100px')= company.email
                td
                  span.d-inline-block.text-truncate(style='width:100px')= company.phoneNumber
                td
                  span.d-inline-block.text-truncate(style='width:100px')= company.website
            else
              tr
                td
                  span.d-inline-block.text-truncate(style='width:250px')
                    s
                      a(href=`/companies/${company.id}`)= company.companyName
                td
                  span.d-inline-block.text-truncate(style='width:100px')
                    s= company.address
                td
                  span.d-inline-block.text-truncate(style='width:100px')
                    s= company.city
                td
                  span.d-inline-block.text-truncate(style='width:100px')
                    s= company.country
                td
                  span.d-inline-block.text-truncate(style='width:100px')
                    s= company.email
                td
                  span.d-inline-block.text-truncate(style='width:100px')
                    s= company.phoneNumber
                td
                  span.d-inline-block.text-truncate(style='width:100px')
                    s= company.website
